<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>thymeleaf test</title>
</head>
<body>
<!--<h1>this is thymeleaf; test<span th:text="${test}"></span></h1>


<div>
        <span th:object="${user}">
         <p><span th:text="*{name}"></span></p>
         <p><span th:text="*{size}"></span></p>
         <p><span th:text="*{result}"></span></p>
         <p th:if="*{result}==true"><span th:text="*{date}"></span></p>
        </span>
</div>

<div th:if="${list} != null">
    <div><span>用户名</span></div>
    <div th:each="ele,stat:${list} ">
       <span th:text="${ele.name}"></span>
        <span th:text="${stat.count}"/>
        <span th:text="${stat.index}"/>
        <span th:text="${stat.size}"/>
        <span th:text="${stat.current}"/>
        <span th:text="${stat.first}"/>
        <span th:text="${stat.last}"/>
    </div>
    
    <div>
        <img th:src="@{/images/thymeleaf.jpg}" />
    </div>

    <div>
        <image src="http://img03.tooopen.com/uploadfile/downs/images/20110714/sy_20110714135215645030.jpg" />
    </div>
    
</div>-->

<div>
    <a id="haha" href="#">点击</a>
</div>



<script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}" />
<script>
    $(function () {
        /* $.ajax({
            type:"post",
             url:"http://localhost:8080/ajax",
             contentType: "application/json;charset=utf-8",
             data:{"userName":"赵四","passWord":"123456"},
             dataType: "json"
         });*/
        $("#haha").click(function () {
            alert("hellow index")
        });

    });
</script>

</body>
</html>